/node_modules
/public/hot
/public/storage
/public/file_pengajuan
/public/file_siswa
/public/file
/storage/*.key
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
